<h3>Show Details for Beer "{{beer.name}}"</h3>
<table class="table table-striped">
    <tbody>
        <tr>
            <td><strong>{{beer.brewery_id}}</strong></td>
            <td><a href="/breweries/show/{{beer.brewery_id}}">{{beer.brewery_id}}</a></td>
        </tr>
        {{#beerfields}}
            <tr>
                <td><strong>{{key}}</strong></td>
                <td>{{value}}</td>
            </tr>
        {{/beerfields}}
    </tbody>
</table>

<a class="btn btn-medium btn-warning"
    href="/beers/edit/{{beer.id}}">Edit</a>
<a class="btn btn-medium btn-danger"
    href="/beers/delete/{{beer.id}}">Delete</a>
